.office-html,
.transformed-html,
.editor .tiptap {
  padding: 1em;
  border: 1px solid;
  height: 25vh;
  overflow: scroll;
  resize: vertical;
  max-width: 800px;
  margin: 0 auto 1em;
}

.editor .tiptap :first-child {
  margin-top: 0;
}

.office-html,
.transformed-html {
  font-family: "lucida console", "courier new", monospace;
  white-space: pre;
  font-size: 85%;
}
